.boxPackage{
    padding: 5px;
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    img{
        width: 210px;
        height: 210px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 9px;
        padding: 2px;
    }
    .desc{
        padding: 9px;
        .title{
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .subtitle{
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 6px;
            font-size: 9px;
            font-weight: 300;
            color: grey;
            margin-bottom: 5px;
            margin-top: -3px;
            .textBold{
                font-size: 10px;
                font-weight: 800;
            }
            img{
                width: 3px;
                height: 3px;
                display: block;
                margin-top: 10px;
            }
        }
        .price{
            font-size: 9px;
            font-weight: 800;
            margin-bottom: 10px;
        }
        .package{
            display: flex;
            flex-direction: row;
            column-gap: 8px;
            align-items: center !important;
            align-self: center !important;
            align-content: center !important;
            background-color: #FCEED5;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding-left: 10px;
            padding-right: 5px;
            padding-top: -5px;
            .imgPackage{
                img{
                    width: 15px;
                    height: 15px;
                    display: block;
                    margin-top: 7px;
                }
            }
            img{
                width: 3px;
                height: 3px;
                display: block;
                margin-top: 7px;
            }
            .textPackage{
                font-size: 9px;
                font-weight: 800;
                // line-height:0%;
            }
        }
    }
}